
img {
display: block;
  margin-left: auto;
  margin-right: auto;
}
 p {
 color: black;
 font-size: 30px;
 
 }
 container{  
text-align: center;  
border: 7px solid red;  
width: 300px;  
height: 200px;  
padding-top: 100px;   
}   
 button {
  padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	}
	h2 {
	color: #ffc300;
	text-align: center;
	}
	body {
	background-color: black;
	}
	button {  
background-color: #ffc300;  
color: black;  
font-size: 25px;  
margin: auto;  
text-align: center;
}  
h5 {
text-align: center;
}
h3 {
text-align: center;
color: #ffc300;
}
